<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MvcBootstrap.ExampleApp.Web" 
         connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=MvcBootstrap.ExampleApp.Web;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\MvcBootstrap.ExampleApp.Web.mdf" providerName="System.Data.SqlClient" />
    <add name="MvcBootstrap.ExampleApp.Web.Tests"
         connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=MvcBootstrap.ExampleApp.Web.Tests;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\MvcBootstrap.ExampleApp.Web.Tests.mdf" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>