@using MvcBootstrap.Web.Mvc.Views
@using MvcBootstrap.Web.Mvc.Views.Extensions
@model MvcBootstrap.ExampleApp.Web.ViewModels.ExampleUserProfileViewModel
@{
    ViewBag.PageTitle = this.PageTitle();
}

@using (this.Bootstrap().BeginUpdateForm())
{
    @Html.AntiForgeryToken()
    
    @:@this.Bootstrap().ValidationSummary("Unable to update the User Profile:")

    @Html.EditorForModel("EntityViewModel")
    
    <div class="control-group">
        <div class="controls">
            @this.Bootstrap().Submit("Save", Icon.Ok, ButtonStyle.Primary)
            @this.Bootstrap().CancelLink(Model.Id)
        </div>
    </div>
}

@section scripts
{
    <script>
        jQuery(function($) {
            $('select.related-entity').chosen({
                allow_single_deselect: true
            });
        })
    </script>
}
