@using MvcBootstrap.Web.Mvc.Views
@using MvcBootstrap.Web.Mvc.Views.Extensions
@model MvcBootstrap.ExampleApp.Web.ViewModels.RoleViewModel
@{
    ViewBag.PageTitle = this.PageTitle();
}


@using (this.Bootstrap().BeginCreateForm())
{
    @Html.AntiForgeryToken()

    @:@this.Bootstrap().ValidationSummary()

    @Html.EditorForModel("EntityViewModel")
    
    <div class="control-group">
        <div class="controls">
            @this.Bootstrap().Submit("Save", Icon.Plus, ButtonStyle.Primary)
            @this.Bootstrap().CancelLink()
        </div>
    </div>
}

@section scripts
{
    <script>
        jQuery(function($) {
            $('select.related-entity').chosen({
                allow_single_deselect: true
            });
        })
    </script>
}