@using MvcBootstrap.ExampleApp.Web.ViewModels
@using MvcBootstrap.Web.Mvc.Views.Extensions
@model IList<RoleViewModel>
@{
    ViewBag.Title = this.ControllerName();
}

<h1>@ViewBag.Title</h1>

@Html.DisplayForModel("EntityTable")

@this.Bootstrap().CreateLink()