@{
    ViewBag.PageTitle = "Home Page";
}

<ul>
    <li>
        @Html.ActionLink("Employees", "List", "Employees")
    </li>
    <li>
        @Html.ActionLink("Roles", "List", "Roles")
    </li>
    <li>
        @Html.ActionLink("User Profiles", "List", "UserProfiles")
    </li>
</ul>
