@{
    ViewBag.Title = "Home Page";
}

<h3>MvcBootstrap Example:</h3>

<ul>
    <li>
        @Html.ActionLink("Employees", "List", "Employees")
    </li>
    <li>
        
        @Html.ActionLink("Roles", "List", "Roles")
    </li>
</ul>
