@using MvcBootstrap.Web.Mvc.Views
@using MvcBootstrap.Web.Mvc.Views.Extensions
@model MvcBootstrap.ExampleApp.Web.ViewModels.EmployeeViewModel
@{
    ViewBag.PageTitle = this.PageTitle();
    int id = Model.Id.Value;
}

<div class="form-horizontal">
    @Html.DisplayForModel("EntityViewModel")

    <div class="control-group">
        <div class="controls">
            <div class="btn-group">
                
                @this.Bootstrap().UpdateLink(id)
                
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        @this.Bootstrap().DeleteLink(id, style:ButtonStyle.None)
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>